<div style="float:right; padding-top: 15px; padding-right: 15px">
    <div>
        <a href="https://whiteboxml.com">
            <img src="https://whiteboxml.com/static/img/logo/black_bg_white.svg" width="250">
        </a>
    </div>
</div>

# Dictionaries, Sets and Tuples

## Tuples

Tuples are sequences just like list. However, the main difference between tuples and lists is that tuples are immutable. This means that the values inside of a tuple cannot be overwritten (or mutated) once the tuple is defined and new values cannot be added

In [53]:
chocolates = ('dark', 'milk', 'semi sweet')

chocolates

('dark', 'milk', 'semi sweet')

In [42]:
chocolates[0]

'dark'

In [43]:
chocolates[0] = 'caramel filled'

TypeError: 'tuple' object does not support item assignment

In [44]:
chocolates[3] = 'caramel filled'

TypeError: 'tuple' object does not support item assignment

In [45]:
len(chocolates)

3

In [46]:
for chocolate in chocolates:
    print(chocolate)

dark
milk
semi sweet

In [52]:
list(chocolates)

['dark', 'milk', 'semi sweet']

In [48]:
set(chocolates)

{'dark', 'milk', 'semi sweet'}

In [51]:
tuple(chocolates)

('dark', 'milk', 'semi sweet')

In [63]:
lst = [1,2,3,[4, 9, len], 'caballo', ('asdf', 'sdfsf'), None]

lst

[1, 2, 3, [4, 9, <function len(obj, /)>], 'caballo', ('asdf', 'sdfsf'), None]

In [64]:
len(lst)

7

In [60]:
lst[5] = 'añlsdkfj ñlakdjsf '

In [61]:
lst

[1, 2, 3, 4, 'caballo', 'añlsdkfj ñlakdjsf ', 'añlsdkfj ñlakdjsf ']

In [66]:
lst[5][0] = 'munitis'

TypeError: 'tuple' object does not support item assignment

In [72]:
lst[5] = ('oleguer', 'arnau')

In [73]:
lst[5][1]

'arnau'

## Dictionaries

Sometimes we don't just want to store data in a sequence. There are cases where we want to easily retrieve our data rather than iterate through an entire list. There are also cases where we need to label our data. For those cases we should use unique key storing that dictionaries provide

In [ ]:
contacts = {'John': '312-555-1234', 'Paul': '312-555-3123', 'George': '312-555-3333', 'Ringo': '312-555-2222'}

contacts

In [ ]:
len(contacts)

In [ ]:
contacts.keys()

In [ ]:
list(contacts.keys())

In [ ]:
contacts.values()

In [ ]:
contacts.items()

In [ ]:
list(contacts.items())

In [ ]:
contacts['Paul'] = 2
contacts['George'] = ['312-555-1111', 5, set({3,4})]
contacts['John'] = {'test_key': 'test_value'}

contacts

In [ ]:
contacts['John']['test_key']

In [ ]:
list(contacts.items())[0]

In [ ]:
query_dict = list(contacts.items())[0]

query_dict[1]['test_key']

In [ ]:
contacts['Pete'] = '312-555-1111'

contacts

In [ ]:
del contacts['Pete']

contacts

In [ ]:
for i in contacts.keys():
     print(i)

print()

for i in contacts:
     print(i)

print()

for i in contacts.values():
    print(i)

In [ ]:
contacts.items()

In [ ]:
for item in contacts.items():
     print(f'{item[0]}: {item[1]}')

print()
        
for k, v in contacts.items():
     print(f'{k}: {v}')

In [ ]:
contacts['Pedro'] = '312-555-2222'

contacts

In [ ]:
for key, value in contacts.items():
    print(f'this is the key: {key}')
    print(f'this is the value: {value}')
    if type(value) == type(contacts['Pedro']):
        if value == contacts['Pedro']:
            print(f'match!! {key}')
    else:
        print(f'type {type(value)} does not match with {type(contacts["Pedro"])}')

In [ ]:
for key, value in contacts.items():
    print(f'this is the key: {key}')
    print(f'this is the value: {value}')
    if isinstance(value, str):
        if value == contacts['Pedro']:
            print(f'match!! {key}')
    else:
        print(f'type {type(value)} does not match with {type(contacts["Pedro"])}')

## Sets

Sets are unordered collections of unique elements. Similar to lists, they are also mutable

In [77]:
set_eg = {1,1,1,1,2,3}

set_eg

{1, 2, 3}

In [78]:
set_eg[0]

TypeError: 'set' object is not subscriptable

In [79]:
letters = set()

letters

set()

In [80]:
letters.add('a')

letters

{'a'}

In [86]:
letters.add('a')

letters

{'a', 'b'}

In [81]:
letters.add('b')

letters

{'a', 'b'}

In [87]:
letters.remove('a')

letters

{'b'}

In [95]:
girl_names = {'Mary', 'Madison', 'Logan', 'Joanna'}
boy_names = set(['John', 'Alexander', 'Logan', 'Madison'])

unisex_names = girl_names.intersection(boy_names)
print(unisex_names)

all_names = boy_names.union(girl_names)
print(all_names)

boy_only_names = boy_names - girl_names
print(boy_only_names)

girl_only_names = girl_names - boy_names
print(girl_only_names)

{'Madison', 'Logan'}
{'John', 'Mary', 'Joanna', 'Alexander', 'Logan', 'Madison'}
{'Alexander', 'John'}
{'Joanna', 'Mary'}

In [97]:
all_names = boy_names + girl_names
print(all_names)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [98]:
text_with_duplicates = 'this is a great great blue car'

In [99]:
text_list = text_with_duplicates.split()

text_list

['this', 'is', 'a', 'great', 'great', 'blue', 'car']

In [101]:
list(set(text_list))

['great', 'car', 'a', 'this', 'is', 'blue']

In [102]:
# for keeping order
unique_words = []

for word in text_list:
    if word not in unique_words:
        unique_words.append(word)
        
' '.join(unique_words)

'this is a great blue car'

<div style="padding-top: 25px; float: right">
    <div>    
        <i>&nbsp;&nbsp;© Copyright by</i>
    </div>
    <div>
        <a href="https://whiteboxml.com">
            <img src="https://whiteboxml.com/static/img/logo/black_bg_white.svg" width="125">
        </a>
    </div>
</div>