<div style="float:right; padding-top: 15px; padding-right: 15px">
    <div>
        <a href="https://whiteboxml.com">
            <img src="https://whiteboxml.com/static/img/logo/black_bg_white.svg" width="250">
        </a>
    </div>
</div>

# String Operations

## Common operations

In [1]:
''
""
'''
'''
"""
"""

'\n'

In [2]:
# operator overload
print('Hello' + 'World')

HelloWorld

In [3]:
print('Hello ' * 8)

Hello Hello Hello Hello Hello Hello Hello Hello

In [4]:
a = 'Hello'
b = 'dog'

# forget about this
print(a + ' a ' + 'beautiful' + ' ' + b)
print('{} beautiful {} why {}'.format(a, b, a))
print('{0} beautiful {1} why {0}'.format(a, b))

# this is cream -> string interpolation
print(f'{a} beautiful {b}')

Hello a beautiful dog
Hello beautiful dog why Hello
Hello beautiful dog why Hello
Hello beautiful dog

In [5]:
x = 'Happy'
y = 'Puppies'
z = [x,y,x]

print(z)
print(' '.join(z))
print(type('hello'.join(z)))

['Happy', 'Puppies', 'Happy']
Happy Puppies Happy
<class 'str'>

In [6]:
# a += 2  ===  a = a + 2

In [7]:
len(z)

3

In [8]:
mystring = ''
for i in z:
    mystring += i + ' '
    print(mystring)
    
print(mystring.strip())

Happy
Happy Puppies
Happy Puppies Happy
Happy Puppies Happy

In [9]:
'      y                        kasdj flñkjasd fkljasd fkjñalsf         jñlkasdfj                  '.strip()

'y                        kasdj flñkjasd fkljasd fkjñalsf         jñlkasdfj'

In [10]:
'      y                        kasdj flñkjasd fkljasd fkjñalsf         jñlkasdfj                  '.rstrip()

'      y                        kasdj flñkjasd fkljasd fkjñalsf         jñlkasdfj'

In [11]:
'      y                        kasdj flñkjasd fkljasd fkjñalsf         jñlkasdfj                  '.lstrip()

'y                        kasdj flñkjasd fkljasd fkjñalsf         jñlkasdfj                  '

In [12]:
print(len(['automobile']))
print(len('automobile'))

1
10

### Slicing

In [13]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
list(range(1,10,4))

[1, 5, 9]

In [16]:
# start,end,step
list(range(0,10,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
word = 'automobile'

print(word[0])
print(word[5])
print(word[-1])
print(word[-4])
print(word[0:4])
print(word[:4])
print(word[4:])

# i:f:s -> i first index, f last index, s step
print(word[0:5])
print(word[0:5:2])
print(word[-3:len(word):2])

## TODO
# turn the string word using slicing
# expected result: elibomotua
print(word[::-1])
print(word[::+1])

# [0:10:2] -> 0, 2, 4, 6, 8
# [0:10:3] -> 0, 3, 6, 9

a
o
e
b
auto
auto
mobile
autom
atm
ie
elibomotua
automobile

In [18]:
# not very intuitive
print(word[:5413535])
print(word[5413535:])
# print(word[8769876])

automobile

In [19]:
a = 'They ate the mystery meat. It tasted like chicken.'

# check the splitter is not included
print(a.split())
print(a.split(' '))
print(a.split('.'))
print(a.split('m'))
print(a.split('meat'))

['They', 'ate', 'the', 'mystery', 'meat.', 'It', 'tasted', 'like', 'chicken.']
['They', 'ate', 'the', 'mystery', 'meat.', 'It', 'tasted', 'like', 'chicken.']
['They ate the mystery meat', ' It tasted like chicken', '']
['They ate the ', 'ystery ', 'eat. It tasted like chicken.']
['They ate the mystery ', '. It tasted like chicken.']

In [20]:
b = 'There is no business like show business.'

print(b.startswith('T'))
print(b.startswith('There'))
# # python is case sensitive
print(b.startswith('there'))

print(b.endswith('.'))
print(b.endswith('business.'))
print(b.endswith('Business.'))

True
True
False
True
True
False

In [21]:
print('like' in b)
print('business' in b)
print('Business' in b)

True
True
False

In [22]:
c = 'shE HaD a maRveLoUs aSsoRtmeNt of PUPPETS. but helLo'

print(c.lower())
print(c.upper())
print(c.capitalize()) # only first
print(c.title()) # all words

she had a marvelous assortment of puppets. but hello
SHE HAD A MARVELOUS ASSORTMENT OF PUPPETS. BUT HELLO
She had a marvelous assortment of puppets. but hello
She Had A Marvelous Assortment Of Puppets. But Hello

In [23]:
split_str = c.split('.')

first_capitalize = split_str[0].capitalize()
second_capitalize = split_str[1].strip().capitalize()

print(first_capitalize + '. ' + second_capitalize)
print(f'{first_capitalize}. {second_capitalize}')

She had a marvelous assortment of puppets. But hello
She had a marvelous assortment of puppets. But hello

In [24]:
d = '   I have a tendency to leave       trailing spaces.      '

print(d.strip())
print(d.lstrip())
print(d.rstrip())

print(len(d.strip()))
print(len(d.lstrip()))
print(len(d.rstrip()))

I have a tendency to leave       trailing spaces.
I have a tendency to leave       trailing spaces.
   I have a tendency to leave       trailing spaces.
49
55
52

In [25]:
e = 'I thought       the movie    was wonderful!   '

print(e.replace('wonderful', 'horrible'))
print(e.replace('wonderful', 'just OK'))
print(e.replace('o', 'laksjdflñkjasñdl'))
print(e.replace(' ', ''))

I thought       the movie    was horrible!
I thought       the movie    was just OK!
I thlaksjdflñkjasñdlught       the mlaksjdflñkjasñdlvie    was wlaksjdflñkjasñdlnderful!
Ithoughtthemoviewaswonderful!

## Regex Introduction

Regular expressions allow us to perform different types of pattern matching on text in order to arrive at the result we want

In [26]:
import re

- search: Returns the first instance of an expression in a string
- findall: Finds all instances of an expression in a string and returns them as a list
- split: Splits a string based on a specified delimiter
- sub: Substitutes a string/substring with another

In [27]:
text = 'My neighbor, Mr Rogers, Has 35 dogs and Mr Neil Amstrong too.'

re.findall('nei', text)

['nei']

In [28]:
text_lower = text.lower()
pattern = 'nei'

re.findall('nei', text.lower())
re.findall(pattern, text_lower)

['nei', 'nei']

In [29]:
re.findall('[nN]ei', text)

['nei', 'Nei']

In [30]:
re.search('Mr', text)

In [31]:
re.search('Mr', text[15:])

In [32]:
re.search('[Mr]', text)

In [33]:
# find all occurrences
iterator = re.finditer('[Mr]', text)

for x in iterator:
    print(x)

<re.Match object; span=(0, 1), match='M'>
<re.Match object; span=(10, 11), match='r'>
<re.Match object; span=(13, 14), match='M'>
<re.Match object; span=(14, 15), match='r'>
<re.Match object; span=(20, 21), match='r'>
<re.Match object; span=(40, 41), match='M'>
<re.Match object; span=(41, 42), match='r'>
<re.Match object; span=(52, 53), match='r'>

In [34]:
my_var = re.search('[Mr]', text)

my_var

In [35]:
# use dir to search for methods or attributes
dir(my_var)

['__class__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'end',
 'endpos',
 'expand',
 'group',
 'groupdict',
 'groups',
 'lastgroup',
 'lastindex',
 'pos',
 're',
 'regs',
 'span',
 'start',
 'string']

In [36]:
print(my_var.span())
print(my_var.start())
print(my_var.string)

(0, 1)
0
My neighbor, Mr Rogers, Has 35 dogs and Mr Neil Amstrong too.

In [37]:
len(re.findall('[Mr]', text))

8

Patterns:

- [a-z]: Any lowercase letter between a and z.
- [A-Z]: Any uppercase letter between A and Z.
- [0-9]: Any numeric character between 0 and 9.

In [38]:
text = 'My neighbor, Mr Rogers, Has 35 ñógs-.'

In [39]:
re.findall('[a-z]', text)

['y',
 'n',
 'e',
 'i',
 'g',
 'h',
 'b',
 'o',
 'r',
 'r',
 'o',
 'g',
 'e',
 'r',
 's',
 'a',
 's',
 'g',
 's']

In [40]:
re.findall('[^a-z]', text)

['M',
 ' ',
 ',',
 ' ',
 'M',
 ' ',
 'R',
 ',',
 ' ',
 'H',
 ' ',
 '3',
 '5',
 ' ',
 'ñ',
 'ó',
 '-',
 '.']

In [41]:
re.findall('[a-zA-Z]', text)

['M',
 'y',
 'n',
 'e',
 'i',
 'g',
 'h',
 'b',
 'o',
 'r',
 'M',
 'r',
 'R',
 'o',
 'g',
 'e',
 'r',
 's',
 'H',
 'a',
 's',
 'g',
 's']

In [42]:
re.findall('[a-zA-Z ]', text)

['M',
 'y',
 ' ',
 'n',
 'e',
 'i',
 'g',
 'h',
 'b',
 'o',
 'r',
 ' ',
 'M',
 'r',
 ' ',
 'R',
 'o',
 'g',
 'e',
 'r',
 's',
 ' ',
 'H',
 'a',
 's',
 ' ',
 ' ',
 'g',
 's']

Pattern shortcuts:

- \w: Any alphanumeric character.
- \W: Any non-alphanumeric character.
- \d: Any numeric character.
- \D: Any non-numeric character.
- \s: Any whitespace characters.
- \S: Any non-whitespace characters.
- .: Any character except newline (\n).

In [43]:
re.findall('[\d]', text)

['3', '5']

In [44]:
re.findall('[\w]', text)

['M',
 'y',
 'n',
 'e',
 'i',
 'g',
 'h',
 'b',
 'o',
 'r',
 'M',
 'r',
 'R',
 'o',
 'g',
 'e',
 'r',
 's',
 'H',
 'a',
 's',
 '3',
 '5',
 'ñ',
 'ó',
 'g',
 's']

In [45]:
re.findall('[\s]', text)

[' ', ' ', ' ', ' ', ' ', ' ']

In [46]:
text

'My neighbor, Mr Rogers, Has 35 ñógs-.'

In [47]:
text.split(', ')

['My neighbor', 'Mr Rogers', 'Has 35 ñógs-.']

In [48]:
re.split(', ', text)

['My neighbor', 'Mr Rogers', 'Has 35 ñógs-.']

In [49]:
print(text.split('[0-9]'))
print(re.split('[0-9]', text))
print(re.split('[0-9]+', text))

['My neighbor, Mr Rogers, Has 35 ñógs-.']
['My neighbor, Mr Rogers, Has ', '', ' ñógs-.']
['My neighbor, Mr Rogers, Has ', ' ñógs-.']

In [50]:
text = 'My neighbor, Mr Rogers, Has 3 ñógs-. and 387687 cats'

In [51]:
# 1 -> regex, 2 -> replacement, 3 -> target text
print(re.sub('[0-9]', '100', text))
print(re.sub('[0-9]{2}', '100', text))
print(re.sub('[0-9]{3}', '100', text))
print(re.sub('[0-9]+', '100', text))

My neighbor, Mr Rogers, Has 100 ñógs-. and 100100100100100100 cats
My neighbor, Mr Rogers, Has 3 ñógs-. and 100100100 cats
My neighbor, Mr Rogers, Has 3 ñógs-. and 100100 cats
My neighbor, Mr Rogers, Has 100 ñógs-. and 100 cats

In [52]:
text = 'my neighbour      Mr Rogers and    3 cats    '

print(re.sub('[ ]+', ' ', text))

my neighbour Mr Rogers and 3 cats

In [53]:
re.findall('[a-z-]', 'my text with - and -')

['m', 'y', 't', 'e', 'x', 't', 'w', 'i', 't', 'h', '-', 'a', 'n', 'd', '-']

<div style="padding-top: 25px; float: right">
    <div>    
        <i>&nbsp;&nbsp;© Copyright by</i>
    </div>
    <div>
        <a href="https://whiteboxml.com">
            <img src="https://whiteboxml.com/static/img/logo/black_bg_white.svg" width="125">
        </a>
    </div>
</div>